header 
{
    border-bottom: none;
}
section 
{
    border: none;
    text-align: center;
}
footer
{
    border-top: none;
}

#menu_index
{
    padding-left: 8%;
}
#menu_index nav 
{
    font-family: sans-serif;
}
#menu_index nav ul li
{
    list-style: none;
    margin: 5% 0;
    text-align: left;
}
#menu_index nav ul li a
{
    padding: 2%;
    text-decoration: none;
    border: 2px solid rgb(47, 107, 185);
    border-radius: 10%;
    background-color: #FFF;
    color: #000;
}
#menu_index nav ul li a:hover
{
    transition: all 0.5s;
    color: rgb(47, 107, 185);
    margin-left: 1%;
}
#avatar
{
    float: left;
    padding: 1%;
    max-width: 350px;
}
#avatar img
{
    max-width: 100%;
}
#portfolio
{
    clear: both;
}
#atualizacoes nav
{
    text-align: left;
    padding-left: 20%;
}
#btnMaisUp
{
    text-align: right;
}