/* Fontes externas */
@font-face 
{
    font-family: "Determination Sans";
    src: url("../font/DTM-Sans.otf");

    font-family: "Pixel Plus";
    src: url("../font/PixelMplus10-Bold.ttf");
}

body 
{
    margin: 0 20%;
    font-family: sans-serif;
    background-color: #eee;
}
footer {
    padding: 1% 2%;
    background-color: #000;
    color: #FFF;    
}
footer .links_rodape a
{
    color: orangered;
}
footer .links_rodape ul li
{
    padding: 0 1%;
    display: inline-block;
}