/* Fontes externas */
@font-face 
{
    font-family: "Determination Sans";
    src: url("../font/DTM-Sans.otf");

    font-family: "Pixel Plus";
    src: url("../font/PixelMplus10-Bold.ttf");
}
body 
{
    margin: 0 20%;
    font-family: monospace;
    background-color: #42071b;

    cursor: url("../media/img/wiicursor.png"), auto;
}
header,section,footer 
{
    padding: 1%;
    background-color: #FFF;
    border: 1px solid #000;
}
footer {
    padding: 1% 2%;
    background-color: #000;
    color: #FFF;    
}
footer .links_rodape a
{
    color: orangered;
}
footer .links_rodape a:hover
{
    color: yellow;
}
footer .links_rodape ul li
{
    padding: 0 1%;
    display: inline-block;
}